/* typography classes */
.font-ballo{
    font-family: $font-ballo;
}

.font-rale{
    font-family: $font-releway;
}

.font-rale{
    font-family: $font-rubick;
}

.font-size-12{
    font-size: 12px;
}

.font-size-14{
    font-size: 14px;
}

.font-size-16{
    font-size: 16px;
}

.font-size-50{
    font-size: 50px;
}
